<% provide(:title, "Home") %>

<div  class="center jumbotron">
    
<h1>BBW SupportDesk Application</h1>

<div align="center">
  <h3>Please select action from below</br></br></h3>
  
  <h3><%= link_to "Create Ticket", new_ticket_path, class: "btn btn-success" %></h3>
  <h3><%= link_to "Logout", logout_path, method: "delete", class: "btn btn-success" %></h3>
  <h3><%= link_to "Create Additional Account", signup_path, class: "btn btn-success" %></h3>
</div>  
</div>
<h1>Site Under Construction - Please Check Back Later</h1>


